*{
    margin:0;
    padding:0;
    font-family: 'Ubuntu', sans-serif;
}


.header{
    min-height:50vh;
    width:100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("cats12.jpg");
    background-position:center;
    background-size:cover;
    position:relative;
    text-align:center;
    color:white;

}

.heade h1{
    margin-top:0px;
    font-size: 35px;
    color:#f44336;
}

.header2 h2{
    margin-top:0px;
    font-size: 30px;
    color:#f44336
}


nav{
    display:flex;
    padding:2% 6%;
    justify-content:space-between;
    align-items:center;
}
nav img{
width:150px;

}
.links{
    flex:1;
    text-align:right;

}
.links ul li{
    list-style:none;
    display:inline-block;
    padding:8px 12px;
    position:relative;

}
.links ul li a{
    color:white;
    text-decoration: none;
    font-size:18px;
    
}
.links ul li::after{
content:'';
width:0%;
height:2px;
display:block;
margin:auto;
background:#f44336;
transition:0.5s;
}

.links ul li:hover::after{
width:100%;
}
.con{
    width:80%;
    margin:50px auto;   
}

.box{
    display:flex;
    background: #fff;
}
.left{
    flex-basis:60%;
    padding:40px 60px;
    background-image:linear-gradient(rgba(4,9,20,0.7),rgba(4,7,18,0.7)),url("cats12.jpg");
}

.right{
    flex-basis:40%;
    padding:40px;
   background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("pexels-henda-watani-320014.jpg");
    color:#fff;
}

.input-raw{
    display:flex;
    justify-content: space-between;
    margin-bottom:20px;

}
.input-raw .input-grp{
    flex-basis:45%;
}

input{
    width:100%;
    border:none;
    border-bottom:1px solid #ccc;
    outline:none;
    padding-bottom: 5px;


}
textarea{
width:100%;
border: 1px solid #ccc;
outline: none;
padding: 10px;
box-sizing: border-box;
}

label{
    margin-bottom:6px;
    display:block;
    color:#1c0065;

}
button{
    background:orangered;
    width:100px;
    border:none;
    outline: none;
    color:white;
height:35px;
border-radius: 20px;
margin:15px 10px;

}

.left h3{
    color:orangered;
    font-weight:600px;
    margin-bottom:40px;
}
.right h3{
    color:orangered;
    font-weight:600px;
    margin-bottom:40px;
}
 tr td{
     padding-right:50px;
 }
 tr td{
     padding-top :25px;
 }
 table{
     color:#fff;
 }
 .header2{
    padding-top:10px;
    font-size:72px;
    margin:auto;
    line-height:60px;
    text-align:center;
    padding-bottom:20px;
  
}

.sub{
    max-width:1200px;
    margin:auto;
    padding:48px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    
}

.teams{
    margin:10px;
    padding:22px;
    right:35px;
    max-width:50%;
    cursor:pointer;
    transition:border-box;
    
}

.teams:hover{
background-color:rgb(78, 74, 74);
border-radius:12px;
}

.teams img{
    width:400px;
    height:400px;
    display:flex;
    border-radius:45px;
}
.name{
    padding:12px;
    font-size:30px;
    font-weight:bold;
    text-align:center;
}

.title{
    font-style:italic;
    font-size:25px;
    color:rgb(51, 37, 145);
    text-align:center;
    
}

.about{
    margin:10px;
    font-size:20px;
    font-weight:lighter;
    color:black;
    text-align:center;
}

.Social2{
    margin: 15px;
    text-align:center;
    top:15px;
}


  
.cta{
    margin:100px auto;
    width:80%;
    background-image:url("pexels-cottonbro-6864010.jpg");
    background-position:center;
    background-size: cover;
    border-radius:20px;
    text-align:center;
    padding:100px 0;
    margin-top: 5px;


}
.cta h1{
    color:white;
    margin-bottom:40px;
    padding:0;
}
.btn{
    display:inline-block;
    text-decoration: none;
    color:white;
    border: 1px solid white;
    padding:12px 34px;
    font-size:13px;
    background:transparent;
    position: relative;
    cursor: pointer;
}
.btn:hover{
    border:3px solid #f44336;
    background-color: #f44336;
    transition: 1s;
}
.footer{
    width:100%;
    text-align:center;
    padding:30px 0;
    background-color:#fdab85;

}

.footer h4{
    margin-bottom:25px;
    margin-top:20px;
    font-weight:600px;
}
span{
    color:red;
    font-weight: 450px;;
    
}
.social .fa{
    padding: 20px 25px;
    margin:15px 15px;
    cursor:pointer;
    font-size: 20px;
    width: 15px;
    text-align: center;
    text-decoration: none;
}

.social2 .fa{
    padding: 20px 25px;
    margin:15px 15px;
    cursor:pointer;
    font-size: 20px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    opacity: 0.7;
    border-radius: 50%;
}




.social .fa:hover{
    opacity: 0.7;
    border-radius: 50%;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-heart-o{
      color: #f44336;
  }

